template(name="Commands")
  .container
    h1 Commands
      small Click on the tags below to see related commands
    if loading
      .well loading
    else
      .well
        each enabledDisabledAll
          +enabledDisabledToggle
      .well
        +each tags
          +commandTag

      if showModifiers
        +moduleModifiers
      else
        +commandsGeneric

template(name="commandsGeneric")
  table.table.table-hover.table-bordered.table-condensed.table-striped.table-responsive
    thead
      tr
        th Name
        th#toggleAll
          | Enabled
          small toggle all
        th Description
        th Grammar Type
        th Tags
        th Actions
    tbody
      each scopedCommands
        tr
          +CommandSummaryRow


template(name="CommandSummaryRow")
  td= name
  td.modifierCell
    label.modifierLabel
      input(type="checkbox" class="modifierCheckbox" checked=enabled)
  td= description
  td= grammarType
  td
    +each tags
      +commandTag
  td
    if isAction
      | {{{actionDescriptor}}}
    else if isText
      code= transform

template(name="CommandAction")
  code {{{text}}}

template(name="commandTag")
  a.commandTag(class="{{currentClass}}")= this

template(name="enabledDisabledToggle")
  a.commandTag(class="{{currentClass}}")= this
